.App {
  text-align: center;
}

/* Header */
.headerImage {
  width: 10px;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Marked Marked"
    "Location Time"
    "Title ."
    "Button .";
  width: 100vw;
  background-image: url("https://media.unleashgroup.io/admin/5b98c618e8d372a64882857e/569f4b10-c630-11e8-acce-c9e2624ac6b5.jpeg");
  height: 400px;
  background-size: cover;
  color: white;
}

.title {
  grid-area: Title;
  font-weight: bold;
  font-size: 4rem;
  text-align: left;
  margin-left: 3vw;
}

.btn {
  grid-area: Button;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.location {
  grid-area: Location;
}

.time {
  grid-area: Time;
}

mark {
  grid-area: Marked;
  background-color: lightblue;
  color: white;
  padding: 3px;
  font-weight: 500;
  width: 450px;
  align-self: center;
  justify-self: start;
  margin-left: 2vw;
}
/* At Glance */
.day-link {
  font-weight: bold;
  text-decoration: none;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 3px;
  margin: 3px;
}

.agendaImg {
  width: 100vw;
  padding: 2rem 0;
}

/* Search Form */
#search-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 5vw;
  grid-gap: 15px;
}

/* Creator */
.creator {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "CreatorImage CreatorName"
    "CreatorImage CreatorCompany";
}

.creator-name {
  grid-area: CreatorName;
}

.creator-img {
  grid-area: CreatorImage;
}

.creator-company {
  grid-area: CreatorCompany;
}
