.App {
  text-align: center;
  color: #110c11;
  background: #f2f2f2;
}

.more-link {
  color: #29adab;
  text-decoration: none;
}

/* Header */
.headerImage {
  height: 20px;
  margin: 18px;
  align-self: end;
  border: none;
  background: #fff;
}

.headerLogo {
  height: 26px;
  margin: 15px;
  align-self: start;
  text-align: left;
  border: none;
  background: #fff;
}

#header {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  height: 56px;
  top: 0px;
  position: sticky;
  background: #fff;
  box-shadow: 0 4px 8px rgba(17, 12, 17, 0.1);
}

/* Hero */
#hero-container {
  width: 100%;
  background-image: url("https://res.cloudinary.com/nahov91/image/upload/v1540819353/Mask_Group.png"),
    linear-gradient(to left, rgba(17, 12, 17, 0), #686bf7),
    url("https://res.cloudinary.com/nahov91/image/upload/v1540812371/Image.png");
  background-position: center bottom, center center, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% 35%, cover, cover;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "EventData"
    "Title"
    "Button";
  height: 280px;
  padding: 7vw 5vw;
  text-align: left;
  color: white;
  max-width: 960px;
  margin: auto;
}

.title {
  grid-area: Title;
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  line-height: 40px;
  font-family: "Anton", sans-serif;
  color: #110c11;
}

.hero-title {
  grid-area: Title;
  font-style: regular;
  font-size: 56px;
  text-align: left;
  line-height: 50px;
  font-family: "Anton", sans-serif;
  text-shadow: 0 1px 0 rgba(17, 12, 17, 0.48);
}

.btn {
  grid-area: Button;
  color: #110c11;
  background-color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  align-self: start;
  justify-self: start;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.event-data {
  display: grid;
  grid-area: EventData;
  grid-template-columns: auto 1fr;
  grid-gap: 7px;
  grid-template-areas:
    "EventName EventName"
    "Location Time";
  font-size: 12px;
}

.location {
  grid-area: Location;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  align-items: center;
  grid-gap: 3px;
}

.location p {
  line-height: 1.2rem;
  margin: 0;
  padding: 0;
}

.time {
  grid-area: Time;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
  grid-gap: 3px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.event-name {
  grid-area: EventName;
  font-family: "Open Sans", sans-serif;
  background-color: #4ad9d9;
  color: white;
  padding: 3px 7px;
  font-weight: bold;
  align-self: center;
  justify-self: start;
}

/* Agenda At Glance */
#agenda-at-glance {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "Title DaySelector"
    "ToCalendar ."
    "Agenda Agenda";
  padding: 5vh 5vw 5vh 5vw;
  text-align: left;
  max-width: 960px;
  margin: auto;
}

.day-selector {
  margin: 26px;
  line-height: 40px;
}

.to-calendar {
  display: flex;
  grid-area: ToCalendar;
  border: none;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  justify-items: flex-start;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  background: none;
  margin: 0;
  padding: 0;
}

.to-calendar img {
  padding: 0 3px;
}

.day-link {
  font-family: Anton, Sans-Serif;
  font-style: regular;
  text-decoration: none;
  background: #f2f2f2;
  border: 1px solid #000;
  color: #000;
  padding: 2px 7px;
  margin: 3px;
}

.agenda-container {
  margin-top: 3%;
  grid-area: Agenda;
  overflow: scroll;
  -webkit-scrollbar: hidden;
  margin-right: -5vw;
}

.agenda-container::-webkit-scrollbar {
  display: none;
}

/* Search Form */

#sessions {
  padding: 5vh 5vw 5vh 5vw;
  text-align: left;
  max-width: 960px;
  margin: auto;
}

.form-wrapper {
  background-image: url("https://res.cloudinary.com/nahov91/image/upload/o_15/v1540812370/gradient.png");
  padding: 20px;
}

#search-form {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  overflow: auto;
  resize: horizontal;
}

.search,
.topic,
.date {
  border: 1px solid #ecebec;
  height: 40px;
  padding-left: 10px;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #c5c4c5;
}

/* Post */

.presentations-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  max-width: 710px;
}

.post {
  display: grid;
  grid-area: EventData;
  grid-template-columns: auto auto 1fr;
  grid-gap: 7px;
  grid-template-areas:
    "Tag Location Time "
    "PostTitle PostTitle PostTitle"
    "PostDescription PostDescription PostDescription"
    "Creator Creator Creator";
  font-size: 12px;
  background: #fff;
  font-weight: bold;
  font-family: "Lato";
  box-shadow: 0px 1px 4px rgba(17, 12, 17, 0.1);
  margin: 15px 0;
  padding: 15px;
}

.post-location {
  grid-area: Location;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  align-items: center;
  grid-gap: 3px;
}

.post-location p {
  line-height: 1.2rem;
  margin: 0;
  padding: 0;
}

.post-date {
  grid-area: Time;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: start;
  grid-gap: 3px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.post-tag {
  grid-area: Tag;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 3px 7px;
  font-weight: bold;
  align-self: center;
  justify-self: start;
  margin: 0px;
}

.post-title {
  grid-area: PostTitle;
  font-size: 16px;
  line-height: 20px;
  margin: 2px 0;
}

.post-description {
  grid-area: PostDescription;
  font-size: 14px;
  font-weight: 300;
  color: #797678;
  margin: 0;
}

/* Creator */

.creator-list {
  grid-area: Creator;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

.creator {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "CreatorImage CreatorName"
    "CreatorImage CreatorCompany";
  grid-gap: 10px;
  padding-right: 5px;
}

.creator-name {
  grid-area: CreatorName;
  font-size: 14px;
  font-family: "Lato";
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: #110c11;
}

.creator-img {
  grid-area: CreatorImage;
  width: 36px;
  border-radius: 50%;
}

.creator-company {
  grid-area: CreatorCompany;
  font-size: 12px;
  font-weight: bold;
  font-family: "Lato";
  padding: 0;
  margin: 0;
  line-height: 14px;
  color: #797678;
}
